/*
    OctoPrint Information Panel for Vertical Screens
    by Cooper Brislain
*/
@media (min-height: 1200px) {
  * {
    box-sizing: border-box; }

  body {
    overflow-x: hidden;
    background-color: #332639; }

  #page-container-main > .octoprint-container {
    margin: 0;
    padding: 0;
    margin-top: 55px !important;
    width: 100%; }
    #page-container-main > .octoprint-container > .row {
      display: flex;
      flex-flow: column nowrap;
      margin: 0; }

  #navbar .navbar-inner {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0; }
    #navbar .navbar-inner div.container {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap; }
      #navbar .navbar-inner div.container div.nav-collapse {
        display: flex; }
  #navbar .brand {
    padding-left: 30px; }
  #navbar #navbar_plugin_navbartemp .navbar-text {
    font-size: 0;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    margin-top: 6px; }
    #navbar #navbar_plugin_navbartemp .navbar-text span {
      font-weight: 800;
      font-size: 16px;
      padding: 10px;
      padding: 1px 10px; }
    #navbar #navbar_plugin_navbartemp .navbar-text #toolInfo {
      border-right: 1px solid;
      border-left: 1px solid; }

  #sidebar {
    order: 1;
    width: 100%;
    padding: 0;
    margin: 0; }

  #state_wrapper .accordion-heading {
    display: none; }
  #state_wrapper #state hr {
    display: none; }
  #state_wrapper #state [data-test-id="sidebar-state-content"] {
    color: black;
    font-size: 0;
    text-align: center; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:not(hr, br) {
      color: white;
      font-size: 12px;
      display: inline-block; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] strong {
      margin-right: 10px;
      font-weight: 900;
      font-size: 18px; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] span {
      font-size: 0; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] span::before {
      font-family: "Font Awesome 5 Free" !important;
      font-size: 20px !important;
      padding: 10px;
      position: relative;
      top: 2px; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(1), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(3), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(9), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(6), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(4), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(5), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(10), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(14), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(15), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(16), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(17), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(18), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(19), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(21), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(22), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(25), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(26), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(29), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(33), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(36), #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(37) {
      display: none; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(11)::before {
      content: '\f093'; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(23)::before {
      content: '\f017'; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(27)::before {
      content: '\f252'; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(7)::before {
      content: '\f15b'; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(30)::before {
      content: '\f253'; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] > *:nth-child(34)::before {
      content: '\f00b'; }
    #state_wrapper #state [data-test-id="sidebar-state-content"] .print-control {
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap; }
      #state_wrapper #state [data-test-id="sidebar-state-content"] .print-control button.btn {
        color: white;
        font-weight: bold;
        flex-basis: 30%;
        margin: 0;
        height: 55px; }
      #state_wrapper #state [data-test-id="sidebar-state-content"] .print-control #job_pause {
        background-color: green; }
      #state_wrapper #state [data-test-id="sidebar-state-content"] .print-control #job_cancel {
        background-color: red; }

  #connection_wrapper,
  #sidebar_plugin_action_command_notification_wrapper {
    display: none; }

  #files .gcode_files .entry {
    display: flex; }
    #files .gcode_files .entry div {
      word-wrap: nowrap;
      overflow: hidden;
      text-overflow: clip; }
    #files .gcode_files .entry .title {
      font-weight: bold;
      flex-basis: 30%; }
    #files .gcode_files .entry .internal {
      flex-basis: 30%; }

  #tabs_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0; }
    #tabs_content #timelapse {
      display: none; }

  #temp {
    flex-basis: 40%;
    order: 1; }
    #temp #temperature-graph {
      display: none; }
    #temp #temperature-table {
      margin-top: 12px; }
      #temp #temperature-table .btn-input-dec, #temp #temperature-table .btn-input-inc {
        display: none; }
      #temp #temperature-table tbody tr {
        margin: 0;
        padding: 0; }
        #temp #temperature-table tbody tr:first-child th {
          font-size: 21px;
          border-bottom: 1px solid #555;
          padding: 0; }
          #temp #temperature-table tbody tr:first-child th:first-child {
            padding-top: 10px;
            font-size: 14px;
            font-weight: bold; }
          #temp #temperature-table tbody tr:first-child th.temperature_offset {
            display: none; }
          #temp #temperature-table tbody tr:first-child th.temperature_target {
            width: 81px;
            line-height: 37px; }
          #temp #temperature-table tbody tr:first-child th.temperature_tool {
            width: 25px; }
        #temp #temperature-table tbody tr tr th:first-child {
          font-size: 18px;
          margin-bottom: 0;
          width: 25px; }
      #temp #temperature-table tbody td {
        margin: 0;
        padding: 0; }
        #temp #temperature-table tbody td.temperature_offset {
          display: none; }
      #temp #temperature-table form input[type=number].input-mini {
        min-width: 45px;
        padding-right: 5px;
        padding-left: 3px; }
      #temp #temperature-table form button.btn {
        padding: 8px; }

  #control {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-basis: 60%; }
    #control .jog-panel {
      float: none;
      margin: 0; }
      #control .jog-panel:nth-child(4) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        flex-basis: 50%; }
    #control #webcam_container + + .jog_panel {
      width: 200px; }
    #control .btn.box,
    #control .btn.btn-block.control-box {
      padding-left: 8px;
      padding-right: 8px; }
    #control #control-jog-extrusion {
      flex-basis: 20%; }
      #control #control-jog-extrusion div.input-append.control-box {
        display: flex; }
        #control #control-jog-extrusion div.input-append.control-box h1 {
          margin-bottom: 18px;
          font-weight: 900; }
        #control #control-jog-extrusion div.input-append.control-box input {
          flex-grow: 1;
          margin: 0;
          flex-basis: 70%;
          border: 0; }
        #control #control-jog-extrusion div.input-append.control-box span.add-on {
          margin: 0;
          border-left: 1px solid #777; }
      #control #control-jog-extrusion > div > div:nth-child(4) {
        display: none; }
    #control #control-jog-xy {
      flex-basis: 50%; }
      #control #control-jog-xy > div {
        margin: auto;
        width: 150px; }
      #control #control-jog-xy button.btn.box {
        background-color: transparent;
        color: white;
        padding: 4px;
        font-size: 24px;
        margin: auto;
        width: 40px;
        height: 40px; }
        #control #control-jog-xy button.btn.box i:hover {
          text-decoration: outline; }
        #control #control-jog-xy button.btn.box.pull-left {
          float: none; }
      #control #control-jog-xy #control-xyhome {
        border-radius: 20px;
        background-color: white;
        font-size: 20px;
        color: #34383c;
        width: 40px;
        height: 40px; }
      #control #control-jog-xy #control-ydec {
        width: 40px; }
    #control #control-jog-z {
      flex-basis: 20%; }
      #control #control-jog-z button.btn {
        padding: 4px;
        color: white;
        background-color: transparent;
        font-size: 24px;
        height: 40px;
        margin: 0; }
      #control #control-jog-z #control-zhome {
        border-radius: 20px;
        background-color: white;
        color: #34383c;
        font-size: 20px;
        width: 40px;
        height: 40px; }
    #control #control-jog-general {
      flex-basis: 20%; }
    #control #control-jog-flowrate {
      flex-basis: 20%; }
      #control #control-jog-flowrate label {
        float: left;
        display: none; }
      #control #control-jog-flowrate .btn {
        margin: 0;
        border-left: 1px solid;
        background-color: #0073ff; }
    #control #control-jog-feedrate {
      display: none; }

  div#gcode.tab-pane {
    display: none;
    order: 4; }
    div#gcode.tab-pane #canvas_container {
      display: none; }
    div#gcode.tab-pane .row-fluid .span7 {
      width: 100%;
      display: flex;
      flex-flow: column wrap; }
    div#gcode.tab-pane .row-fluid .span5 {
      display: none; }
    div#gcode.tab-pane .canvas_container {
      display: none;
      .row-fluid: nth-child(2); }
      div#gcode.tab-pane .canvas_container + .layer-buttons {
        display: none; }

  #term {
    width: 100%;
    order: 3;
    display: block;
    margin-right: 5px; }
    #term #terminal-actions-panel > a:nth-child(1) {
      display: none; }
    #term #terminal-actions-panel br {
      display: none; }
    #term #terminal-filterpanel {
      width: 100%; }
      #term #terminal-filterpanel > div {
        display: flex;
        width: 100%;
        justify-content: space-around; }
      #term #terminal-filterpanel label > span {
        font-size: 10px; }
      #term #terminal-filterpanel br {
        display: none; }
    #term .terminal {
      width: 100%; }
      #term .terminal pre#terminal-output {
        background-color: black;
        resize: vertical;
        width: 100%;
        height: 500px;
        min-height: 200px;
        max-height: 1000px;
        overflow-x: scroll;
        font-family: "Andale Mono";
        font-weight: bold;
        font-size: 13px; }
        #term .terminal pre#terminal-output span.muted {
          display: none; }
    #term .terminal-autoscroll::before {
      font-family: "Font Awesome 5 Free";
      content: '\f204';
      margin-right: 5px; }
    #term .terminal-autoscroll.active::before {
      content: '\f205'; }

  button.btn {
    font-weight: bold; }

  .muted {
    display: none; }

  .tabbable {
    display: block;
    order: 2;
    margin: 0;
    width: 100%; }
    .tabbable #tabs {
      display: none; }

  .footer {
    max-width: 100%; }
    .footer ul#footer-links {
      width: 100%;
      display: flex;
      justify-content: center;
      float: none; }

  .accordion-toggle::before {
    font-family: "Font Awesome 5 Free";
    content: '\f150'; }

  .accordion-toggle.collapsed::before {
    content: '\f152'; } }

/*# sourceMappingURL=theme.css.map */
